@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    background-color: #0A0A0A;
    width: 100%;
}

#root {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Enforce Sharp Edges Branding */
* {
    border-radius: 0 !important;
}